body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f6f6;
}

header {
  background-color: #bf051b;
  color: white;
  padding: 10px 20px;
}

header h1 {
  margin: 0;
}

nav {
  background-color: #db0b23;
  display: flex;
  justify-content: center;
  padding: 2px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background 0.3s;
}

nav a:hover {
  background-color: #ba091e;
}

.content {
  padding: 5px;
}

footer {
  background-color: #bf051b;
  color: white;
  text-align: center;
  padding: 0 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

hr.footercover {
  border-top: 30px solid #bbb;
  border-radius: 5px;
}

h1 {
  text-align: center;
}
p {
  text-align: center;
}
div {
  text-align: center;
}
